*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.flex {
  display: flex;
}

/* ===== HEADER ======= */

.header-container {
  border-bottom: 1px solid #e7e9fc;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.menu-contacts {
  display: flex;
  gap: 40px;
}

.menu {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu:hover,
.menu:focus {
  color: #404bbf;
}

.contact-header {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-header:hover,
.contact-header:focus {
  color: #404bbf;
}

.font-style-normal {
  font-style: normal;
}

/* ===== END HEADER ====== */

/* ===== MAIN ====== */

.main-section-top {
  color: #ffffff;
  background-color: #2e2f42;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 188px 0;
}

.header {
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: #fff;
  line-height: 1.07;
  max-width: 496px;
  display: inline-block;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-sec {
  padding: 120px 0;
}

.benefits-sec .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.benefits-sec .title-sub {
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.benefits-ul {
  display: flex;
  gap: 24px;
}

.benefits-li {
  width: calc((100% - 72px) / 4);
}

.our-team {
  background-color: #f4f4fd;
}

.title-our-team {
  font-size: 36px;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.title-sub-our-team {
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
}

.our-team .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.our-team li {
  background-color: #ffffff;
}

.title-our-portfolio {
  font-size: 36px;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.title-sub-portfolio {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.portfolio-sec .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ===== END MAIN ====== */

/* ===== FOOTER ====== */

.footer {
  background-color: #2e2f42;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-footer-part {
  color: #f4f4fd;
}

.footer .text {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
